---
import Layout from "../layouts/Layout.astro";
import groq from "groq";
import { sanity } from "../lib/sanityClient";

const contact = await sanity.fetch(groq`
    *[_type == "contact"][0]{
        title,
        intro,
        contact{
            name,
            email,
            phone,
            socialLinks
        },
        form
    }
    `);
---
  
<Layout>
    <section class="px-6 py-12 md:px-10">
        <!-- mx-auto for at det skal se bedre ut på widescreen, blir litt mer sentrert -->
        <div class="max-w-6xl mx-auto"> 

            <div class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-16">

            <!-- Venstre side -->
            <div class="space-y-8">
                <div>
                    <h1 class="text-5xl font-semibold">
                        {contact?.title}
                    </h1>
                    <div class="mt-6 h-px w-40 bg-black"></div>    
                </div>
                
                <div class="space-y-5 text-lg">
                    <div>
                        <p class="text-sm uppercase tracking-wide text-gray-500">Name</p>
                        <p class="mt-1">{contact?.contact?.name}</p>
                    </div>

                    <div>
                        <p class="text-sm uppercase tracking-wide text-gray-500">Email</p>
                        <p class="mt-1">{contact?.contact?.email}</p>
                    </div>

                    <div>
                        <p class="text-sm uppercase tracking-wide text-gray-500">Phone</p>
                        <p class="mt-1">{contact?.contact?.phone}</p>
                    </div>
                </div>
             

                <div class="pt-6">
                    <h2 class="text-sm uppercase tracking-wide text-gray-500 mb-2">
                        Follow me
                    </h2>

                <div class="pt-6 flex flex-col gap-2 items-start">
                    {contact?.contact?.socialLinks?.map((link: any) => (
                        <a 
                            href={link.url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="flex items-center gap-2 hover:opacity-70 transition"
                            >

                        {link.label === "Instagram" && (
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-black" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M7 2C4.2 2 2 4.2 2 7v10c0 2.8 2.2 5 5 5h10c2.8 0 5-2.2 5-5V7c0-2.8-2.2-5-5-5H7zm5 5a5 5 0 110 10 5 5 0 010-10zm6.5-.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM12 9a3 3 0 100 6 3 3 0 000-6z"/>
                            </svg>

                            <span class="text-base text-black">
                                {link.url
                                    .replace("https://www.instagram.com/", "")
                                    .replace("https://instagram.com/", "")
                                    .replace("/", "")}
                            </span>
                        )} 

                        {link.label === "Facebook" && (
                            <>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-black" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M22 12a10 10 0 10-11.5 9.9v-7H7v-2.9h3.5V9.8c0-3.4 2-5.3 5-5.3 1.5 0 3 .3 3 .3v3.3h-1.7c-1.7 0-2.3 1.1-2.3 2.2v2.7H18l-.5 2.9h-3v7A10 10 0 0022 12z"/>
                            </svg>

                            <span class="text-base text-black">
                                {link.url
                                    .replace("https://www.facebook.com/", "")
                                    .replace("https://facebook.com/", "")
                                    .replace("/", "")}
                            </span>
                            </>
                        )}           
                        </a>
                    ))}
                </div>
            </div> 
     
        </div>  

            <!-- Høyre side -->
             <div class="bg-gray-100 p-8 rounded-xl shadow-lg">
                <form
                name="contact"
                method="POST"
                data-netlify="true"
                netlify-honeypot="bot-field"
                action="/takk" 
                class="space-y-5"
                >
                <input type="hidden" name="form-name" value="contact" />

                <!-- spam-beskyttelse, som sjuler et felt som bare roboter fyller ut -->
                <p class="hidden">
                    <label>
                        Don't fill this out:
                        <input name="bot-field" />
                    </label>
                </p>

                    <div>
                        <label for="name" class="block text-sm uppercase tracking-wide text-gray-500 mb-2">
                            Name
                        </label>
                        <input
                            id="name"
                            name="name"
                            type="text"
                            class="w-full border border-gray-300 bg-white px-4 py-3 outline-none rounded-xl focus:border-black focus:ring-1 focus:ring-black transition"
                            />
                    </div>

                    <div>
                        <label for="email" class="block text-sm uppercase tracking-wide text-gray-500 mb-2">
                            Email
                        </label>
                        <input
                            id="email"
                            name="email"
                            type="email"
                            class="w-full border border-gray-300 bg-white px-4 py-3 outline-none rounded-xl focus:border-black focus:ring-1 focus:ring-black transition"
                            />
                    </div>

                    <div>
                        <label for="message" class="block text-sm uppercase tracking-wide text-gray-500 mb-2">
                            Message
                        </label>
                        <textarea
                            id="message"
                            name="message"
                            rows="6"
                            class="w-full border border-gray-300 bg-white px-4 py-3 outline-none rounded-xl focus:border-black focus:ring-1 focus:ring-black transition"
                            ></textarea>
                    </div>

                    <button
                        type="submit"
                        class="bg-black text-white px-6 py-3 font-semibold rounded-lg"
                    >
                        Submit
                    </button>    
                </form>
             </div>
            
            </div>
        </div>
    </section>
</Layout>